<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668406264664-dp6c50j9lj1m7cm9797d0mpn57j8hkai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668406264664-dp6c50j9lj1m7cm9797d0mpn57j8hkai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>668406264664-0a6n5g24e9sipvjiblj7gph3ishmt4ba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApHkEnuw44ueryvHfQMvrRZ-qYbUWoz20</string>
	<key>GCM_SENDER_ID</key>
	<string>668406264664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.HelpForHomeless.app</string>
	<key>PROJECT_ID</key>
	<string>help4homeless-13cfc</string>
	<key>STORAGE_BUCKET</key>
	<string>help4homeless-13cfc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668406264664:ios:8573ea7949777ed6f12b2d</string>
</dict>
</plist>